<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <style>
            div#form > div > label {
                display: block;
                width: 20rem;
            }
            div#form > div > div {
                display: block;
                width: 20rem;
                margin-bottom: 1rem;
            }
            .green {
                color: green;
            }
            .red {
                color: red;
            }
            </style>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% if form is defined %}
                {{ form(form) }}
            {% endif %}
            {% if results is defined %}
                {% for answer in results.answers %}
                    <p>Question: {{ results.questions[answer.questionId].questionTitle }}</p>
                    {% if answer.isCorrect %}<p class="green">{% else %}<p class="red">{% endif %}Answer: {{ answer.answers|join(', ') }}</p>
                {% endfor %}
            {% endif %}
        {% endblock %}
    </body>
</html>
